<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunkie.gdy.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.chunkie.gdy.entity.Room">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="password" jdbcType="INTEGER" property="password"/>
        <result column="player_num" jdbcType="INTEGER" property="playerNum"/>
        <result column="on_going" jdbcType="TINYINT" property="onGoing"/>
    </resultMap>

    <select id="selectRoomByPwd" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from room where password = #{password}
    </select>

    <insert id="createRoom" parameterType="com.chunkie.gdy.entity.Room">
        insert into room

    </insert>
</mapper>